footer
  / ホットペッパーWebサービスの提供するAPIを使用するためのクレジット表記
  a href="http://webservice.recruit.co.jp/"
    img alt=("ホットペッパー Webサービス") border="0" height="17" src="http://webservice.recruit.co.jp/banner/hotpepper-s.gif" title=("ホットペッパー Webサービス") width="135" /
